# Archivos generados por Dev-C++
*.o
*.obj
*.exe
*.layout
*.depend
*.local
# Archivos generados por Dev-C++
*.gch
Makefile.win


# Carpetas de compilación
Debug/
Release/

# Archivos temporales
*.tmp
*.bak

# Configuración del sistema
.DS_Store
Thumbs.db
